annotated-types==0.7.0
asciitree==0.3.3
bokeh 
Brotli 
cffi 
click 
cloudpickle 
contourpy 
cycler==0.12.1
cytoolz 
dask 
distributed 
fasteners 
fire==0.7.0
flexcache==0.3
flexparser==0.4
fonttools==4.58.4
fsspec 
h2 
hpack 
hyperframe 
imagecodecs 
imageio==2.37.0
importlib_metadata 
Jinja2 
joblib==1.5.1
kiwisolver==1.4.8
locket 
loguru==0.5.3
lz4 
MarkupSafe 
matplotlib==3.10.3
msgpack 
narwhals 
networkx==3.4.2
numcodecs
numpy==1.26.4
ome-types==0.6.1
opencv-python-headless==4.11.0.86
openslide-bin==4.0.0.8
openslide-python==1.4.2
packaging 
palom==2025.6.1
pandas 
partd
pillow 
Pint==0.24.4
platformdirs==4.3.8
psutil 
pyarrow==20.0.0
pycparser 
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic_core==2.33.2
pyparsing==3.2.3
PySocks 
python-dateutil 
pytz 
PyWavelets==1.8.0
PyYAML 
scikit-image==0.19.3
scikit-learn==1.7.0
scipy==1.15.3
six 
slideio==2.7.1
sortedcontainers 
tblib 
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2024.7.2
tiledb==0.34.0
toolz 
tornado 
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata 
urllib3 
xsdata==24.3.1
xyzservices 
yamale==4.0.4
zarr 
zict 
zipp 
zstandard==0.23.0
